body {}
button,input[type="button"]{cursor:pointer;}
.d-infld, textarea, select{font-family:'MuseoSans500', Arial, Helvetica, sans-serif; font-size:12px; color:#999;}
button,input[type="button"],.cbox, .cbox-selected{cursor:pointer;}
input[type="text"], input[type="password"], textarea{border-top:1px solid #ccc; border-right:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #ccc; background:#fff; outline:none; resize:none;}
input[type="text"], input[type="password"]{color:#333; padding:5px; height:20px;}
.d-txarea {height:60px; padding:5px 0 5px 7px; line-height:20px;}
input[type="text"], input[type="password"]{border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;}

/*checkbox*/
.cbox, .cbox-selected {background:url("../images/cbox-doc.png") no-repeat scroll left top transparent; float:left; height:23px; padding:0 3px 0 21px; line-height:25px;}
.cbox input, .cbox-selected input {display:none;}
.cbox-selected {background:url("../images/cbox-doc.png") no-repeat left -23px;}


/*radio button*/
.custom-radio {position:relative; float:left; margin-right:15px;}
.custom-radio input {position:absolute; left:2px; top:3px; margin:0; z-index:0;}
.custom-radio label {display:block; position:relative; z-index:1; padding-right:2px; padding:3px 0 3px 26px; cursor:pointer; margin:-3px 0 0 -3px; line-height:20px;}
.custom-radio label {background:url(../images/btn-radio-doc.png) no-repeat; }
.custom-radio label {background-position:-10px -14px;}
.custom-radio label.checked {background-position:-10px -214px;}

/*select dropdown*/
.dd-text {position:absolute; text-indent:5px; background:#f7f7f7 url(../images/arrow-select.png) no-repeat right 0; z-index:0; overflow:hidden; height:18px; padding:6px 25px 6px 0; color:#999; border:1px solid #ccc;}
select.designer {position:relative; z-index:1; height:30px;}

.d-lineup table tbody tr td:first-child .custom-radio label {background-image:url(../images/btn-radio-doclineup.png); }


.d-alpos .dd-text{padding:5px 25px 5px 0;}